# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app


*.log
*.dso

# dirs
Bin/game/data/audio/
Bin/game/data/images/
Bin/common

.vs/
Debug/
tools/*/
tools/*.gif
tools/*.png